.input__email {
    width: 100%;
    padding: 12px 18px;
    font-size: 16px;
    font-family: inherit;
    box-shadow: 0 0 0 1px rgb(124, 33, 33);
    border: none;
    border-radius: 25px;
    background-color: #fff5f5;
    transition: all .3s;
  }
  
  .input__email::placeholder {
    color: rgba(124, 33, 33, 0.497);
    font-size: 14px;
  }
  
  .input__email:focus {
    outline: none;
    box-shadow: 0 0 10px 1px rgb(124, 33, 33);
    border: none;
    transition: all .3s;
  }
  .cardPassword{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px rgb(124, 33, 33);
    background-color: #fff5f5;
    margin-top: 40px;
  }
  .cardPassword h2{
    text-align: center;
    margin-bottom: 20px;
  }
  .cardPassword p{
    text-align: center;
    margin-bottom: 20px;
  }
  .cardPassword button{
    width: 100%;
    padding: 12px 18px;
    font-size: 16px;
    font-family: inherit;
    box-shadow: 0 0 0 1px #f8bfbf;
    border: none;
    border-radius: 25px;
    background-color: rgba(124, 33, 33, 0.271);
    border: 1px solid  rgb(124, 33, 33);
    color: black;
    transition: all .3s;
  }