.signup{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
 gap:30px;
   margin-top: 70px;
   border: 1px solid #000;
   padding: 20px;
   border-radius: 5px;
   box-shadow: 0 2px 5px  rgb(124, 33, 33);
   
}
.form_element{
    display: flex;
    gap: 20px;
    align-items: center;
    width:500px;
   
}
.form_element input{
    width: 50%;
    padding: 10px;
    
    border-bottom: 1px solid #000;
    
}
.form_element label{
    width: 50%;
    padding: 10px;
    text-align: left;
}
.signup  button{
    width: 100%;
    padding: 10px;
    background-color:rgb(124, 33, 33);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
@media screen and (max-width:460px){
    .signup{
        margin-left: 30px;
        margin-right: 30px;
        padding: 10px;
    }
    .form_element{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        width:100%;
    }
    .form_element input{
        width: 100%;
        padding: 10px;
        
        border-bottom: 1px solid #000;
        
    }
    .form_element label{
        width: 100%;
        padding: 10px;
        text-align: left;
    }
    .signup  button{
        width: 100%;
        padding: 10px;
        background-color:rgb(124, 33, 33);
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
}