.nav-link.active{
    border-bottom: 2px solid RGB(33, 124, 124);
}
.btn.btn-outline-success {
    /* Example styles */
    width: 150px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    font-size: 16px; /* Adjust the font size as needed */
    padding: 10px 20px; /* Adjust the padding as needed */
}

nav{
    background-color: rgb(124, 33, 33);
    color: white;
   width: 100%;
   
}
body {
    padding-top: 56px; /* Adjust this value based on your navbar height */
  }
  
ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;

}


  
.logo{
    color: white;
    text-decoration: none;
   
}
.nav-link{
    color: white;
    text-decoration: none;
  
}
/* Custom styles for the dropdown toggle */
.dropdown-toggle {
    background-color: transparent !important;
    border: none !important;
    color: white;
}

/* Custom styles for the dropdown menu */


/* Remove focus outline */
.dropdown-toggle:focus {
    outline: none !important;
    box-shadow: none !important;
}
.dropdown-toggle svg{
    color: aliceblue;
}